@import '@chubb/ui-components/styles/cb-textarea';
@import '@chubb/ui-components/styles/cb-input';
@import '@chubb/ui-components/styles/cb-toggle';

.p-chips-token {
  @apply cds-rounded-3xl cds-pl-2 cds-pr-2 cds-border-black cds-border-2 cds-border-solid cds-bg-white #{!important};
}

.p-chips-multiple-container {
  @apply cds-border-white cds-bg-white #{!important};
}

.p-chips {
  @apply cds-border-white cds-bg-white #{!important};
}

.p-chips-input-token {
  @apply cds-hidden;
}

.cb-button--primary-theme {
  @apply cds-rounded-3xl cds-inline;
}

.variant {
  &__layout {
    @apply cds-flex cds-gap-lg1 cds-items-start;
  }
}

.cb-toggle-grp {
  &__layout {
    @apply cds-flex cds-items-start cds-gap-lg1;
  }
}
.cb-toggle {
  @apply cds-flex cds-items-center cds-gap-lg1;
}

.add-coverage-variant {
  &__container {
    @apply cds-flex cds-flex-col cds-gap-lg1;

    .cb-button--primary-theme {
      @apply cds-rounded-3xl cds-inline;
    }
  }

  &__title {
    @apply cds-font-lato cds-text-mobile-headline-6-medium cds-pb-5;
    &-span {
      @apply cds-text-sm;
    }
  }

  &__content {
    &-data {
      @apply cds-flex cds-flex-col cds-gap-lg1;
      &__form-field {
        @apply cds-flex cds-flex-col cds-w-full;
      }
    }
  }

  &__headerlabel {
    @apply cds-text-neutral-800 cds-font-bold cds-text-base;
  }

  &__labeltext {
    // @apply cds-font-body-regular-base cds-text-xs cds-leading-5;
    @apply cds-font-lato cds-text-body-sm-regular-base;
  }

  &__textarea {
    @apply cds-mt-4;
  }

  &__tooltip {
    // @apply cds-inline-block cds-ml-2 cds-mt-1;
    @apply cds-inline-block cds-text-body-sm-regular-base cds-font-lato cds-mt-1 cds-pl-1;
  }
  &__tooltipbutton {
    // @apply cds-inline-block cds-ml-2 cds-mt-1;
    @apply cds-inline-block cds-text-body-sm-regular-base cds-font-lato cds-mt-8;
  }
  &__texttooltip {
    // @apply cds-inline-block cds-ml-2 cds-mt-1;
    @apply cds-inline-block cds-text-body-sm-regular-base cds-font-lato cds-mt-1;
  }
  &__label {
    // @apply cds-font-body-regular-base;
    @apply cds-text-body-sm-regular-base cds-font-lato;
  }

  &__footer-buttons {
    @apply cds-flex cds-justify-between cds-items-center cds-pt-12 cds-no-underline;

    &--right {
      @apply cds-flex;

      .cb-button {
        @apply cds-mx-2;
      }
    }
    &--left {
      .cb-button {
        @apply cds-pl-0;
      }
    }
  }
  &__body {
    &-wrapper {
      @apply cds-flex cds-justify-center cds-items-start cds-space-x-lg1;

      .cb-input {
        &__label {
          @apply cds-text-body-sm-regular-base cds-font-normal;
        }
      }
    }
  }
  &__error-message-container {
    @apply cds-flex cds-order-1;
    @apply cds-font-normal cds-text-sm;
  }
}
